TYPEORM_CONNECTION=postgres
TYPEORM_HOST=localhost
TYPEORM_USERNAME=postgres
TYPEORM_PASSWORD=password
TYPEORM_DATABASE=test
TYPEORM_PORT=5432
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_ENTITIES=src/entity/**/*.ts
TYPEORM_MIGRATIONS=src/migration/**/*.ts
TYPEORM_SUBSCRIBERS=src/subscriber/**/*.ts
TYPEORM_ENTITIES_DIR=src/entity
TYPEORM_MIGRATIONS_DIR=src/migration
TYPEORM_SUBSCRIBERS_DIR=src/subscriber
MONGODB_URI=mongodb://localhost/dbname
JWT_SECRET=jwtsecret